# production server connection passwords
serv/conf/settings_secret.atii

# experimental / customer / mothballed projects
serv/site_archives/

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion
*.iml

## Directory-based project format:
.idea/

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/