<!--** ../page/_header **-->

<title>Build Your Own Rotary Converter!</title>
	
<!--** ../page/_content **-->

<h3>If you are thinking of buying or building a rotary converter, you should look at this first!</h3>
<i>Many people use rotary's because they are cheap and easy to build, but there is another way that not many people know about...</i>

<div class="quote">If you are tired of the noise a rotary makes or the inconvience of having to turn it on and off just to use a machine, you should look at this!</div>

Check out the <a href="movies.htm">video clips</a> page. These clips tell the whole story. Don't take my word for it. See on the clips what this style of converter is capable of.<br />
We run a ten horse Invincible Vacuum cleaner. You would need at least a 20 hp rotary to run this. Then we take the same converter, and run a 1/4 horse water pump. Sound ridiculous right? But wait, total amp draw for the converter and 1/4 hp motor is 2.5 amps! Sounds impossible, right? A converter that will start a 10 hp, hard to start load, running a dinky 1/4 horse motor, and wasting maybe, at the most, 200 or 300 milliamps of electricity. The same converter uses 1.4 amps with no load at idle.<br />
We run a 5 horse air compressor and we use less electricity then the 5 hp single phase motor that came with it. Same pulley same preasure.<br />
We start the 5 horse compressor with 170 lbs of air in the tank. Then stop it and start it again with 184 lbs in the tank. No problem.


<div class="block">
	<div class="title">Purchase</div>
	This video is for sale through <a href="http://members.ebay.com/ws/eBayISAPI.dll?ViewUserPage&userid=jsummers2006">my listings on Ebay</a>. Search for unique3phase
	It may also be purchased through Customflix.com/210405 or Amazon.com. Due to Ebay rules it will always be sold for less through ebay.
</div>

<!--** ../page/_footer **-->