<!--** ../page/_header **-->

<title>Contact Unique3Phase</title>
	
<!--** ../page/_content **-->

<h4>Video Clips of Converter in Action:</h4>
<i>All clips are in WMV format</i>

<ol class="linklist">
	<li><a href="/movies/moviefile.wmv">Air Compressor at 184 psi (7.7 megs)</a></li>
	
	<li><a href="/movies/moviefile.wmv">Run 1/4 motor from big converter (5.32 megs)</a></li>
	
	<li><a href="/movies/moviefile.wmv">Start Vacuum from one switch (1.88 megs)</a></li>
	
	<li><a href="/movies/moviefile.wmv">Run air and vac from one converter. Start vacuum while air compressor is running (9.45 megs)</a></li>
	
	<li><a href="/movies/moviefile.wmv">Watch hard to start vacuum get started. 164 amps or so. Takes about 4 seconds to spin turbine up to 6500 rpm (4.89 megs)</a></li>
	
	<li><a href="/movies/moviefile.wmv">Air compressor clip from video. Show amp draw single phase motor and amp draws three phase converter (4.83 megs)</a></li>
	
	<li><a href="/movies/moviefile.wmv">Water pump, shot from video balance amps and volts (7.49 megs)</a></li>
	
	<li><a href="/movies/moviefile.wmv">Start relay, some footage from video of start relay (6.55 megs)</a></li>
	
	<li><a href="/movies/moviefile.wmv">Vac clip from video (6.54 megs)</a></li>
</ol>

<!--** ../page/_footer **-->